.info1{
    background-color: rgb(230, 229, 229);
    width: 80%;
    display: flex;
    margin-top: -200px;
    position: absolute;
    margin-left: 100px;
    width: 90%;
    height: 150px;
    justify-content: space-between;
}

.info1 label{
    padding: 30px;
}

.info2{
    background-color: aqua;
    width: 80%;
    margin-top: -200px;
    position: absolute;
    margin-left: 100px;
    width: 90%;
    height: 150px;

}